
global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Maven → Nexus1
frontend maven_front
    bind *:9001
    default_backend maven_back

backend maven_back
    server nexus1 ***:8081

# NuGet → Nexus2
frontend nuget_front
    bind *:9002
    default_backend nuget_back

backend nuget_back
    server nexus2 ***:8082

# Other → Nexus3
frontend other_front
    bind *:9003
    default_backend other_back

backend other_back
    server nexus3 ***:8083
